body{
	background-image: url("images/balloon.jfif"); 
	background-repeat: no-repeat; background-size: cover;
}

@font-face {
  font-family: myFirstFont;
  src: url(GABRWFFR.TTF);
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

header{
		background-color: black;
		color: white;
		border-bottom: 2px solid black;
		text-align: center;
		padding: 2%;
}


.header-text{
	font-family:myFirstFont;
	font-size: 200%;
	font-weight: bold;
}

.video{
	text-align: center;
	padding-top: 8%;

}


.q{
	background-color: white;
	padding: 5%;
	color: green;
	width: 100%;
	height: 1000px;
}

.head{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 200%;
	font-weight: bold;
}

form{
	padding: 1.5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
}