body{
	background-color: black;
}

@font-face {
  font-family: myFirstFont;
  src: url(GABRWFFR.TTF);
}

.dot {
  height: 0.8vw;
  width: 0.8vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

header{
		background-color: black;
		color: white;
		border-bottom: 2px solid black;
		text-align: center;
		padding: 2%;
}


.header-text{
	font-family:myFirstFont;
	font-size: 2.5vw;
	font-weight: bold;
}

.vid-container{
text-align: center;
}


.q{
	background-color: white;
	padding: 5%;
	color: black;
	width: 100%;
	height: 1600px;	  	
	box-shadow: 0 0px 10px 5px grey
}

h4{
	color: green;
}

.butt{
	background-color: #46EA79;
	border-radius: 6px;

}

.butt:hover, .butt:active{
	background-color: green;
	color: white;
	 animation-name: fade;
	  animation-duration: .8s;
}

	@keyframes fade {
	  from {opacity: .6} 
	  to {opacity: 1}
	}

.ass{
		border-radius: 6px;

}

.head{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 200%;
	font-weight: bold;
}

form{
	font-family: "Georgia";
	font-style: italic;
}

li{
	padding: 2%;
		color: black;

}

form span{
	color: blue;
}
