body{
	background-image: url("images/balloon.jfif"); 
	  background-repeat: no-repeat; background-size: cover;
}

header{
		background-color: black;
		color: white;
		border-bottom: 2px solid black;
		text-align: center;
		padding: 2%;
}

.container{
	position: relative;
}

.header-text{
	font-family: "Times New Roman", cursive, serif;
	font-size: 200%;
	font-weight: bold;
}

.video{
	text-align: center;
	padding-top: 8%;

}


.quiz{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 200%;
	font-weight: bold;
	background-color: white;
	padding-top: 4%;
	color: green;
	width: 100%;
	height: 1000px;


}

.q{
	padding:5%;
}