body{
	background-color: #008000;

}

header{
		background-color: #006400;
		border-bottom: 2px solid black;
		text-align: center;
		padding: 2%;
}

.header-text{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 200%;
	font-weight: bold;
}

.video{
	text-align: center;
	padding-top: 8%;
}