body{
	/*background-image: url("images/balloon.jfif"); 
	background-repeat: no-repeat; background-size: cover;*/
	background-color: black;
}

@font-face {
  font-family: myFirstFont;
  src: url(GABRWFFR.TTF);
}

.dot {
  height: 0.8vw;
  width: 0.8vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

header{
		background-color: black;
		color: white;
		border-bottom: 2px solid black;
		text-align: center;
		padding: 2%;
}


.header-text{
	font-family:myFirstFont;
	font-size: 2.5vw;
	font-weight: bold;
}

.vid-container{
text-align: center;
}


.q{
	background-color: white;
	padding: 5%;
	color: green;
	width: 100%;
	height: 1500px;	  	
	box-shadow: 0 1px 5px 5px green;

}

h4{
	color: green;
}

.head{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 200%;
	font-weight: bold;
}

form{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
}

li{
	padding: 2%;
}

form span{
	color: blue;
}
